{% extends 'layouts.html' %}
{% load static %}
 {% block title %}
<title>Home Page</title>
{% endblock %} 
 {% block starts%} 
 {% include 'bloggingapi/navbar.html'%}
 {% for msg in messages %} 
 {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div
  class="bg-teal-100 h-[50px] text-[20px] md:text-[20px] 2xl:text-[25px] flex justify-center items-center rounded py-[10px] relative z-10"
>
  {{msg}}
</div>
{% endif %}  
{% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div
  class="bg-red-200 h-[50px] text-[20px] md:text-[20px] 2xl:text-[25px] flex justify-center items-center rounded py-[10px] relative z-10"
>
  {{msg}}
</div>
{% endif %} 
{% endfor %}

<img src="{% static 'images/bg.webp' %}" class="w-[100%]" alt="" />
<!-- TOP BOXES -->
<section
  class="w-[100%] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 relative top-[100px]"
>
  {% for viewblog in blogs %}
   {% if forloop.counter < 7 %}
  <div class="flex justify-center">
    <div
      class="shadow-2xl mb-[100px] w-[500px] md:w-[350px] lg:w-[300px] xl:w-[400px] 2xl:w-[450px] 3xl:w-[500px] 4xl:w-[550px] 5xl:w-[600px] min-h-[400px] rounded-2xl"
    >
      <a href="singleblog/{{viewblog.id}}" class="">
        <img
          src="{{viewblog.image}}"
          alt="image"
          class="h-[300px] md:h-[250px] xl:h-[300px] 2xl:h-[350px] w-[100%] rounded-tr-2xl rounded-tl-2xl"
        />
      </a>

      <div class="px-[20px] py-[30px]">
        <a
          href="singleblog/{{viewblog.id}}"
          class="tracking-[2px] text-[16px] xl:text-[18px] 2xl:text-[20px] 3xl:text-[22px] 4xl:text-[25px] 5xl:text-[27px]"
          >{{viewblog.category.category_title}}</a
        >
        <h5>
          <a
            href="singleblog/{{viewblog.id}}"
            class="font-bold text-[20px] xl:text-[25px] 2xl:text-[30px] 3xl:text-[35px] 4xl:text-[40px] 5xl:text-[45px] text-teal-500"
            >{{viewblog.title}}</a
          >
        </h5>
        <p class="mt-[10px] text-[16px] 2xl:text-[18px] 3xl:text-[20px] 4xl:text-[22px] 5xl:text-[25px]">{{viewblog.created_at}}</p>
      
  
      </div>
    </div>
  </div>
  {% endif %} 

  {% endfor %}
</section>
<div class="mt-[200px] flex justify-end items-end">

  <a href="/addcategory" class="bg-teal-500 text-white p-2 rounded text-base xl:text-lg 2xl:text-xl 3xl:text-2xl 4xl:text-3xl mr-[20px] mb-[10px] hover:bg-transparent hover:text-teal-500 hover:border-2 hover:border-teal-500">Add Category</a>
</div>
<!--ALL CATEGORY  -->

<nav
  class="bg-white border-b-4 border-t-4 min-h-[150px] flex items-center pl-[50px]"
>
<div class="font-semibold text-[18px] md:text-[20px] xl:text-[22px] 2xl:text-[25px] 3xl:text-[27px] 4xl:text-[30px] 5xl:text-[32px]">All Categories:</div>

<div class="min-h-[100px] mx-[40px] flex gap-[40px] text-teal-600 font-semibold text-[16px] md:text-[18px] xl:text-[20px] 2xl:text-[22px] 3xl:text-[25px] 4xl:text-[27px] 5xl:text-[30px] grid grid-cols-3 md:grid-cols-6 xl:grid-cols-8 2xl:grid-cols-12">
{% for category in category %}


  <a href="readcategory/{{category.id}}" class="">{{category.category_title}}</a>
  
  {% endfor %}
</div>
</nav>

<!-- NEW POST HEADING -->
<div class="mt-[250px]">
  <h2
    class="h-[80px] xl:h-[100px] 2xl:h-[120px] text-white bg-teal-500 text-[25px] md:text-[30px] xl:text-[35px] 2xl:text-[37px] 3xl:text-[40px] 4xl:text-[42px] 5xl:text-[45px] font-semibold flex justify-center items-center"
  >
    Recents Posts
  </h2>
</div>

<section
  class="w-[100%] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 relative top-[100px]"
>
  {% for recent in recentpost %} {% if forloop.counter < 10 %}
  <div class="flex justify-center">
    <div
      class="shadow-2xl mb-[100px] w-[500px] md:w-[350px] lg:w-[300px] xl:w-[400px] 2xl:w-[350px] 3xl:w-[400px] 4xl:w-[450px] 5xl:w-[500px] min-h-[700px] rounded-2xl"
    >
      <a href="singleblog/{{recent.id}}" class="">
        <img
          src="{{recent.image}}"
          alt="{{recent.title}}"
          class="h-[300px] md:h-[250px] xl:h-[300px] 2xl:h-[350px] w-[100%] rounded-tr-2xl rounded-tl-2xl"
        />
      </a>

      <div class="px-[20px] py-[30px]">
        <a
          href="singleblog/{{recent.id}}"
          class="tracking-[2px] text-[16px] xl:text-[18px] 2xl:text-[20px] 3xl:text-[22px] 4xl:text-[25px] 5xl:text-[27px]"
          >{{recent.category.category_title}}</a
        >
        <h5>
          <a
            href="singleblog/{{recent.id}}"
            class="font-bold text-[20px] xl:text-[25px] 2xl:text-[30px] 3xl:text-[35px] 4xl:text-[40px] 5xl:text-[45px] text-teal-500"
            >{{recent.title}}</a
          >
        </h5>
        <p class="mt-[10px] text-[16px] 2xl:text-[18px] 3xl:text-[20px] 4xl:text-[22px] 5xl:text-[25px]">{{recent.created_at}}</p>
        <p
          class="font-normal text-[18px] xl:text-[20px] 2xl:text-[22px] 3xl:text-[25px] 4xl:text-[27px] 5xl:text-[30px] leading-[20px] xl:leading-[30px] 2xl:leading-[40px] mt-[20px]"
        >
          {{recent.content | striptags | truncatechars:100}}
        </p>
        <a
          href="singleblog/{{recent.id}}"
          class="mt-[50px] text-teal-500 font-semibold text-[18px] xl:text-[20px] 2xl:text-[22px] 3xl:text-[25px] 4xl:text-[27px] 5xl:text-[30px]"
          >Read more</a
        >
        <div class="my-[40px] flex">
          {% if user.is_authenticated %}
          <a
            href="/"
            class="border-2 border-solid border-teal-500 p-[5px] md:p-[10px]  rounded-[5px] text-slate-600 text-[16px] xl:text-[18px] 2xl:text-[20px] 3xl:text-[22px] 4xl:text-[25px] 5xl:text-[27px] ease-linear duration-75 hover:bg-teal-500 hover:text-white"
            >Edit Blog</a
          >
          
          <a
            href="/"
            class="border-2 border-solid border-teal-500 p-[5px] md:p-[10px]  rounded-[5px] text-slate-600 text-[16px] xl:text-[18px] 2xl:text-[20px] 3xl:text-[22px] 4xl:text-[25px] 5xl:text-[27px] mx-[20px] ease-linear duration-75 hover:bg-teal-500 hover:text-white"
         
            >Delete Blog</a
          >
          {% else %}
          <a
            href="/"
            class="border-2 border-solid border-teal-500 p-[5px] md:p-[10px]  rounded-[5px] text-slate-600 text-[16px] xl:text-[18px] 2xl:text-[20px] 3xl:text-[22px] 4xl:text-[25px] 5xl:text-[27px] ease-linear duration-75 hover:bg-teal-500 hover:text-white"
            >Edit Blog</a
          >
          
          <a
            href="/"
            class="border-2 border-solid border-teal-500 p-[5px] md:p-[10px]  rounded-[5px] text-slate-600 text-[16px] xl:text-[18px] 2xl:text-[20px] 3xl:text-[22px] 4xl:text-[25px] 5xl:text-[27px] mx-[20px] ease-linear duration-75 hover:bg-teal-500 hover:text-white"
            
            >Delete Blog</a
          >
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  {% endfor %}
</section>
<div class="my-[150px] flex justify-center">
  <a
    href="/allblogs"
    class="bg-teal-500 text-white py-3 px-5 text-[18px] xl:text-[20px] 2xl:text-[25px] 3xl:text-[30px] 4xl:text-[35px] my-auto rounded-lg hover:border-2 ease-linear duration-75 hover:border-teal-500 hover:border-solid hover:bg-white hover:text-teal-500 hover:text-[20px]"
    >All BLogs</a
  >
</div>

{% endblock %}
